#!/usr/bin/env bash

OS=$(uname -s | tr '[:upper:]' '[:lower:]')
ARCH=$(uname -m | sed 's/x86_64/amd64/;s/aarch64/arm64/')
GO_VERSION=$(cat "$PWD/.go-version")
GO_SDK_DIR="$PWD/.direnv/go/sdk"

export GOROOT="${GO_SDK_DIR}/go${GO_VERSION}"
GO_BINARY="${GOROOT}/bin/go"

if [[ ! -f "$GO_BINARY" ]]; then
    mkdir -p "${GO_SDK_DIR}"
  	curl -fsSL "https://go.dev/dl/go${GO_VERSION}.${OS}-${ARCH}.tar.gz" \
		| tar -xz -C "${GO_SDK_DIR}"
	mv "${GO_SDK_DIR}/go" "${GO_SDK_DIR}/go${GO_VERSION}"
	echo "Go ${GO_VERSION} installed to ${GOROOT}"
fi

layout go
PATH_add ".direnv/go/sdk/go$(cat .go-version)/bin"
