GOVERSION=$(cat .go-version)
GOENV_VERSION_BIN="$HOME/.goenv/versions/$GOVERSION/bin"
if [[ ! -d "$GOENV_VERSION_BIN" ]]; then
    goenv install "$GOVERSION"
fi

PATH_add "$GOENV_VERSION_BIN"
layout go
